{% extends 'base.html' %}
{% block title%}<title>User Detail</title>{% endblock%}
{% block content %}
<section>
    <div>
        <img src="{{user.image_url}}" alt="User image" width="110" height="110">
        <h3>{{user.first_name}} {{user.last_name}}</h3>
       
            <a href="/edit_user/{{user.id}}"><button>Edit</button></a> 
            <form action="/delete/{{user.id}}" method="POST">      
                <button>Delete</button>
            </form>        
    </div>
    <div>
        <h2>Posts</h2>
        {% for post in user.posts %}
        <li><a href="/post_detail/{{post.id}}">{{post.title}} {{post.id}}</a></li>
        {% endfor %}
        <a href="/add_post/{{user.id}}"><button>Add Post</button></a> 
    </div>
</section>
{% endblock %}